# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IA_Exercício_3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gustavo\Documents\Exercicios IA\IA_Exercício_3\.idea\.idea.IA_Exercício_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
